<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
  <body>
    <h1>Bookstore Web App</h1>
    <p>
      Это мой финальный проект курса «CS50’s Web Programming with Python and
      JavaScript». Ниже описаны все необходимые детали согласно
      <a
        href="https://cs50.harvard.edu/web/2020/projects/final/capstone/"
        target="_blank"
        >требованиям</a
      >
      этого проекта.
    </p>
    <h2>Distinctiveness and Complexity</h2>
    <p>
      Данный проект позиционируется как книжный интернет-магазин. Он отличается
      от проекта 2 "e-commerce" текущего курса по таким ключевым пунктам:
    </p>
    <ol>
      <li>
        <b>Архитектура Базы Данных.</b> В Bookstore по-другому представлена
        архитектура Базы Данных, данные пользователя хранятся совершенно иначе.
      </li>
      <li>
        <b>Принцип работы.</b> Товары в Bookstore не являются уникальными в
        своём единичном представлении, как это было в Проекте 2 с лотами. Это
        позволяет пользователю <strong>многократно</strong> приобретать товары
        во <strong>многих экземплярах</strong>.
      </li>
      <li>
        <b>Дизайн.</b> Несмотря на использование библиотеки Bootstrap в обоих
        проектах, в Bookstore совершенно другое дизайнерское решение,
        соответствующее общим представлениям об интернет-магазине, а не
        интернет-аукционе.
      </li>
    </ol>
    Далее описаны пункты, определяющие сложность, уникальность и удобство
    веб-приложения.
    <h3>Архитектура БД и управление данными</h3>
    <p>Принцип хранения и управления данными выполнен следующим образом:</p>
    <ul>
      <li>
        Неавторизованный пользователь может смотреть список книг, а также
        посмотреть страницу отдельной книги. Для добавления книг в корзину, а
        также для просмотра своей корзины пользователю необходимо
        авторизоваться.
      </li>
      <li>
        Таблица <code>Purchase</code> хранит информацию о покупках (корзинах)
        пользователей. Ключевым является поле <code>paid</code>, которое
        определяет, оплачена ли корзина. Как только корзина становится
        оплаченной, поле <code>purchase_date</code> автоматически заполняется
        текущей датой. Логика покупок пользователя продумана так, что у одного
        пользователя может быть активна только одна корзина (у которой
        <code>paid=False</code>).
      </li>
      <li>
        Таблица <code>Purchase Item</code> хранит записи о каждой книге, которая
        находится в корзине пользователя (вне зависимости от того, оплачена
        корзина или нет), в каком количестве и на какую сумму вышла данная книга
        (с учётом количества).
      </li>
      <li>
        Общая сумма всей корзины хранится в ранее упомянутой таблице
        <code>Purchase</code>. В логике работы с данными предусмотрен пересчёт
        этого значения каждый раз, когда пользователь изменяет какие-либо данные
        в своей корзине (количество книг или вообще их наличие).
      </li>
    </ul>
    <h3>UX/UI</h3>
    Ниже рассмотрены две составляющие frontend-кода, которые определяют удобство
    использования данного проекта — это JavaScript и HTML/CSS.
    <h4>Роль JavaScript</h4>
    <p>
      В Bookstore используется JavaScript для разных задач и страниц, чтобы
      сделать опыт пользования сайта достаточно комфортным. Вот несколько
      примеров того, в каких местах и с какой целью это используется:
    </p>
    <ul>
      <li>
        На главной странице над книгами находится панель с поиском по книгам и
        фильтрами по цене/категории. Код полностью предусматривает все возможные
        комбинации фильтров с поисковой строкой.
      </li>
      <li>
        На странице конкретной книги находится блок по добавлению товара в
        корзину. JS-код предусматривает:
        <ul>
          <li>
            Правильную работу поля <code>Amount</code>. Поле является текстовым
            и защищено от ввода любых символов, кроме чисел (вместо не числового
            символа в поле записывается "1"). Если товар есть в корзине, то поле
            ввода и текст возле "Amount" содержат значение количества данной
            книги в корзине. Если книг в корзине нет, то в поле ввода содержится
            "1"
          </li>
          <li>
            Удобное изменение количества книг с помощью кнопок <code>+</code> и
            <code>-</code>. Они успешно добавляют/отнимают количество книг по
            одной за нажатие, а также блокируются, если в поле записано
            максимально или минимально возможное число соответственно.
          </li>
          <li>
            Добавление товара в корзину при нажатии на кнопку
            <code>Add to Cart</code>. Она будет заблокирована, если поле
            количества книг пустое.
          </li>
          <li>
            Следующую логику работы кнопок: если товар находится в корзине (не
            важно, добавил ли пользователь только что или раньше), вместо кнопки
            <code>Add to Cart</code> появляются кнопки
            <code>Change amount</code> и <code>Remove from Cart</code>. Кнопка
            <code>Change amount</code> изменяет количество книг в корзине на
            новое значение поля Amount и блокируется по принципу кнопки
            <code>Add to Cart</code>, а <code>Remove from Cart</code> удаляет
            товар из корзины, после чего эти две кнопки удаляются и появляется
            снова <code>Add to Cart</code>
          </li>
        </ul>
      </li>
      <li>
        На странице корзины пользователя есть рядом с названием каждого товара
        для удобного удаления из корзины без посещения страницы книги. Если все
        товары из корзины будут удалены через кнопку удаления или с помощью
        кнопки <code>Purchase</code> (имитирует процесс покупки), появится
        шаблон пустой корзины.
      </li>
      <li>На странице обзора предыдущих покупок пользователю показывается его самая популярная категория из всех купленных им книг с указанием количества.</li>
    </ul>
    <h4>Роль HTML/CSS</h4>
    <p>
      Конечно, HTML является обязательным для использования на проекте, но по
      возможности используются подходящие семантические теги в нужных местах. Но
      основное, что хочется отметить во внешнем виде, это использование CSS:
    </p>
    <ul>
      <li>
        Практически повсеместно используется Flexbox разметка и классы
        Bootstrap. Сайт хорошо адаптирован к разным экранам.
      </li>
      <li>
        На странице конкретной книги главной раскладкой является Grid для
        удобного <em>кастомного</em> позиционирования блоков при изменении
        ширины экрана
      </li>
    </ul>
    <h2>Запуск веб-приложения</h2>
    <p>
      Чтобы запустить и протестировать работу Bookstore, выполните следующие
      шаги:
    </p>
    <ol>
      <li>
        Убедитесь, что у вас установлен
        <a href="https://www.python.org/" target="_blank">Python</a> версии
        3.11+ и
        <a href="https://www.djangoproject.com/" target="_blank">Django</a>
        4.1+.
      </li>
      <li>Скачайте проект на компьютер.</li>
      <li>Откройте терминал вашей ОС.</li>
      <li>
        Перейдите в главный каталог проекта, где расположен скрипт
        <code>manage.py</code>
      </li>
      <li>
        Запустите <code>manage.py</code> с параметром <code>runserver</code>.
        Вот как это может выглядеть: <code>py manage.py runserver</code>
      </li>
      <li>
        Перейдите на сайт проекта по ссылке (по умолчанию: 127.0.0.1:8000)
      </li>
    </ol>
  </body>
</html>
