:root {
  --lightest-bg-color: #fff4f4;
  --base-bg-color: #cb396c;
  --darker-bg-color: #98264e;
  --light-green: #86D13B;
  --dark-green: #4E8813;
  --darker-green: #284709;
  --bs-body-color-rgb: 134, 209, 59;
}

::-webkit-scrollbar {
  background-color: var(--darker-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-green);
}

html,
body {
  height: 100%;
}


body {
  background-color: var(--lightest-bg-color);
  color: var(--darker-green);
}

a {
  color: var(--darker-green);
}

.navbar {
  background: var(--base-bg-color);
}

body>header,
body>footer {
  flex: 0 0 auto;
  background: var(--base-bg-color);
  color: white;
}

button.navbar-toggler {
  display: none;
}

@media (max-width: 576px) {
  button.navbar-toggler {
    display: block;
  }
}

body>main {
  flex: 1 0 auto;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='400' preserveAspectRatio='none' viewBox='0 0 1440 400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3cpath d='M17 400L417 0L615 0L215 400z' fill='url(%23SvgjsLinearGradient1010)'%3e%3c/path%3e%3cpath d='M249.60000000000002 400L649.6 0L807.1 0L407.1 400z' fill='url(%23SvgjsLinearGradient1010)'%3e%3c/path%3e%3cpath d='M498.20000000000005 400L898.2 0L1246.2 0L846.2 400z' fill='url(%23SvgjsLinearGradient1010)'%3e%3c/path%3e%3cpath d='M727.8000000000001 400L1127.8000000000002 0L1163.8000000000002 0L763.8000000000001 400z' fill='url(%23SvgjsLinearGradient1010)'%3e%3c/path%3e%3cpath d='M1398 400L998 0L719 0L1119 400z' fill='url(%23SvgjsLinearGradient1011)'%3e%3c/path%3e%3cpath d='M1182.4 400L782.4000000000001 0L470.4000000000001 0L870.4000000000001 400z' fill='url(%23SvgjsLinearGradient1011)'%3e%3c/path%3e%3cpath d='M960.8 400L560.8 0L380.79999999999995 0L780.8 400z' fill='url(%23SvgjsLinearGradient1011)'%3e%3c/path%3e%3cpath d='M685.1999999999999 400L285.19999999999993 0L45.19999999999993 0L445.19999999999993 400z' fill='url(%23SvgjsLinearGradient1011)'%3e%3c/path%3e%3cpath d='M1225.231010525668 400L1440 185.23101052566787L1440 400z' fill='url(%23SvgjsLinearGradient1010)'%3e%3c/path%3e%3cpath d='M0 400L214.76898947433213 400L 0 185.23101052566787z' fill='url(%23SvgjsLinearGradient1011)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1010'%3e%3cstop stop-color='rgba(203%2c 57%2c 109%2c 0.08)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(203%2c 57%2c 109%2c 0.08)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1011'%3e%3cstop stop-color='rgba(203%2c 57%2c 109%2c 0.08)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(203%2c 57%2c 109%2c 0.08)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-attachment: fixed;
}

body>main>.container {
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

body>header {
  background: var(--base-bg-color);
  color: white;
}

.navbar>.container-fluid>.right-block img {
  filter: brightness(400);
}

.right-block a {
  position: relative;
}

.supplies-in-cart {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: -5px;
  background-color: coral;
  border-radius: 30px;
  color: white;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.4;
  font-weight: bold;
}

.right-block {
  display: flex;
  align-items: center;
}

@media (max-width: 576px) {
  .right-block>*:not(.login-btn) {
    display: none !important;
  }
}

.navbar-toggler,
.navbar-toggler-icon {
  border-color: white !important;
  background-color: white;
}

a {
  cursor: pointer;
}

#cart table {
  margin-bottom: 0;
}

.purchases {
  display: flex;
}

.favorite-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

#purchases table tbody td:not(:first-of-type),
#cart table tbody td:not(:first-of-type) {
  width: 70px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .purchases {
    flex-direction: column-reverse;
    justify-content: start;
  }

  .favorite-category {
    margin: unset;
    align-items: start;
  }
}

caption {
  caption-side: top;
}

.user img {
  margin-top: 1px
}

/***********************************
*** Search and filter for books ****
***********************************/
.top-fields input {
  width: 250px;
}

.top-fields select {
  width: 200px;
}

@media (max-width: 768px) {
  .top-fields {
    display: flex;
    flex-direction: column;
  }

  .top-fields input,
  .top-fields select {
    width: auto;
  }
}

#no-results {
  display: none;
}

/*********************
*** Book's List ****
*********************/
.card {
  width: 250px;
  height: 400px;
}

@media (max-width: 992px) {
  .card {
    width: 200px;
    height: 350px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 160px;
    height: 310px;
  }
}

/* @media (max-width: 552px) {
  .card {
    width: 250px;
    height: 400px;
  }
} */
/*********************
*** Specific Book ****
*********************/
.specific-book {
  display: grid;
  grid-template-columns: auto 1fr minmax(250px, 350px);
  grid-template-rows: auto 1fr;
}

.specific-book h1 {
  padding-left: 10px;
}

@media (max-width: 992px) {
  .specific-book {
    grid-template-columns: auto 1fr;
  }
}

@media (max-width: 576px) {
  .specific-book {
    grid-template-columns: 1fr;
  }
}

.specific-book__cover {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column: 1;
}

@media (max-width: 992px) {
  .specific-book__cover {
    grid-row: 1 / 3;
  }
}

@media (max-width: 768px) {
  .specific-book__cover {
    grid-row: 1;
  }
}

.specific-book__cover img {
  display: block;
  width: 250px;
  outline: 1px solid var(--bs-gray);
}

@media (max-width: 576px) {
  .specific-book__cover img {
    margin: 0 auto;
  }
}

@media (max-width: 768px) and (min-width: 577px) {
  .specific-book__cover {
    grid-column: 1 / 2;
  }

  .specific-book__cover img {
    margin-right: auto;
  }

  .specific-book__meta {
    grid-column: 2 / 3;
  }
}

@media (max-width: 576px) {
  .specific-book__cover {
    grid-column: 1;
    grid-row: 1;
  }

  .specific-book__meta {
    grid-column: 1;
    grid-row: 2;
  }
}

.specific-book__meta table {
  border-collapse: collapse;
}

.specific-book__meta table tr:not(:last-of-type) td {
  border-bottom: 1px solid black;
}

.specific-book__meta table tr td {
  padding: 10px;
  vertical-align: top;
}

.specific-book__meta table tr:last-of-type td:last-of-type {
  text-align: justify;
}

@media (max-width: 768px) and (min-width: 577px) {
  .specific-book__meta table tr:not(:last-of-type) {
    display: flex;
  }

  .specific-book__meta table tr:not(:last-of-type) td:first-of-type {
    flex: 1 0 auto;
  }

  .specific-book__meta table tr:not(:last-of-type) td:last-of-type {
    text-align: right;
  }

  .specific-book__meta table tr:last-of-type td {
    display: block;
  }
}

details>summary {
  display: inline-flex;
  /* background-color: var(--base-bg-color); */
  background-color: var(--dark-green);
  color: #fff;
  border-radius: 30px;
  padding: 5px 15px;
}

details[open]>summary:first-of-type {
  /* background-color: #a9184b; */
  background-color: var(--darker-green);
  color: #fff;
  margin-bottom: 10px;
}

.specific-book__order {
  background: rgba(var(--bs-body-color-rgb), 0.1);
  border: 3px dashed var(--bs-gray);
  align-self: flex-start;
}

@media (max-width: 768px) and (min-width: 577px) {
  .specific-book__order {
    align-self: flex-end;
  }
}

@media (max-width: 768px) {
  .specific-book__order {
    grid-column: 1 / -1;
  }
}

#amount {
  border-radius: 10px;
}

.amount_input button {
  width: 40px;
}

.specific-book__order_buttons {
  flex-direction: row-reverse;
}

.specific-book__order_buttons button:active {
  transform: translateY(2px);
}

@media (max-width: 768px) and (min-width: 577px) {
  .amount_input {
    justify-content: center;
  }
}

.amount_input input {
  width: 50px;
  text-align: right;
}

.specific-book__description {
  grid-row: 2;
  grid-column: 1 / -2;
  text-align: justify;
}

@media (max-width: 992px) {
  .specific-book__description {
    grid-row: 4;
    grid-column: 1 / -1;
  }
}

/*****************
*** Book card ****
*****************/
.card-img-top {
  position: relative;
  overflow: hidden;
}

.card-img-top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*****************
*** Cart *********
*****************/
.empty-cart {
  filter: opacity(50%);
}

.cart-icon {
  width: 150px;
}

.remove-icon {
  width: 20px;
  height: 20px;
}

.remove-icon:hover {
  filter: contrast(2)
}

#cart .link-danger {
  align-self: center;
  margin-top: 2px;
}

.dropdown-item:active {
  background-color: var(--base-bg-color);
}

.btn-my-success {
  --bs-btn-color: #000;
  --bs-btn-bg: var(--light-green);
  --bs-btn-border-color: var(--light-green);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--dark-green);
  --bs-btn-hover-border-color: var(--dark-green);
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--dark-green);
  --bs-btn-active-border-color: #467d0f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--light-green);
  --bs-btn-disabled-border-color: var(--light-green);
}

.my-alert-info {
  --bs-alert-color: var(--darker-green);
  --bs-alert-bg: var(--light-green);
  --bs-alert-border-color: var(--darker-green);
  --bs-alert-link-color: var(--darker-green);
}

.text-darker-green {
  color: var(--darker-green);
}

body .form-control:focus,
body .form-select:focus {
  color: var(--darker-green);
  background-color: var(--bs-form-control-bg);
  border-color: var(--light-green);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(78, 136, 19, 0.25);
}

nav .btn,
nav a {
  color: var(--darker-bg-color);
}

.btn-outline-secondary {
  --bs-btn-color: var(--darker-green);
  --bs-btn-border-color: var(--darker-green);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--darker-green);
  --bs-btn-hover-border-color: var(--darker-green);
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--darker-green);
  --bs-btn-active-border-color: var(--darker-green);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--darker-green);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--darker-green);
  --bs-gradient: none;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--dark-green);
  --bs-btn-border-color: var(--dark-green);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--darker-green);
  --bs-btn-hover-border-color: var(--darker-green);
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--darker-green);
  --bs-btn-active-border-color: var(--darker-green);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--dark-green);
  --bs-btn-disabled-border-color: var(--dark-green);
}

body .offcanvas {
  background-color: var(--lightest-bg-color);
}

body .table,
.form-control::placeholder {
  color: var(--darker-green);
}

.empty-cart p {
  color: var(--darker-bg-color);
}